<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>International Students Connect</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylecss.css">
</head>

<body>
  <header class="headerstyle">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/navigation.ejs') %>
  </header>

  <main>
    <img class="index_image" src="/assets/images/cycling_image.jpg" alt="Students cycling" height="200" width="300">
    <% for(var i=0; i< con_category.length; i++){ %>
    <h2><%= con_category[i] %></h2>
    <%  for(var j=0;j < conlist.length;j++){   %>
    <% if(conlist[j].connectionTopic == con_category[i]){ %>
    <p><br><a href="/connection/<%=conlist[j].connectionID%>"> <%= conlist[j].connectionName %></a>
      <p>
        <% } %>
        <% } %>
        <br>
        <% } %>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>

</html>
